@import "../uqlibrary-elements/resources/theme/element";

.masqueradeCard {
  width: 86%;
  padding: 18px 32px;
}
.masqueradeCard core-tooltip {
  display: flex;
}
.masqueradeCard paper-checkbox {
  margin: 0 20px 0 0;
}
.masqueradeCard paper-input-decorator {
  margin-bottom: 20px;
}
.masqueradeCard #masqueradeButton {
  margin-top: 24px;
}